# Gitignore

# Directories
/SpaCyEnv
.env
#/backend/graphOutputs

#Caches
/backend/parser/__pycache__
/backend/nlp/__pycache__
/backend/__pycache__

/backend/nlp/__pycache__/

/model_unpacked/
/unzipping/

/*.ginml

/nginx/logs/*         
!/nginx/logs/.gitkeep 
