# Gitignore

# Directories
/SpaCyEnv
.env
.env.local
.env.backend.local
.venv
#/backend/graphOutputs

#Caches
/backend/parser/__pycache__
/backend/nlp/__pycache__
/backend/__pycache__
/backend/nlp/images/
.DS_Store


/backend/nlp/__pycache__/

/model_unpacked/
/unzipping/

/*.ginml

/nginx/logs/*         
!/nginx/logs/.gitkeep 

.vscode/
